

  

<div id="customers" class="container mt-3">
  <h1>Customers</h1>
  <table class="table table-striped">
    <thread>
    <tr>
      <th>Full Name</th>
      <th>Orders</th>
      <th colspan="1"></th>
    </tr>
    </thread>

    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><i class="fa-solid fa-user"></i><%= customer.full_name %></td>
          <td><%= customer.orders.count %></td>
          <td><%= link_to "Show", customer, class: "btn btn-primary" %></td>
        </tr>
      <% end %>  
    </tbody>
  </table>
  <%= link_to "New customer", new_customer_path, class: "btn btn-primary" %>
</div>


